@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --link-color: #06c;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  background: #eee;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}
/* Nav */

.main-header {
  background: #002;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-header .flex {
  align-items: flex-start;
}

#logo {
  width: 1.2rem;
  align-self: center;
}

.apple {
  width: 2rem;
  display: inline-block;
}

.apple-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-header .nav-toggler {
  cursor: pointer;
  opacity: 1;
  border: 0;
  background: transparent;
  transition: 0.5s transform ease-in-out;
  position: absolute;
  top: 10px;
  left: 10px;
  outline: 0;
}
.main-header .nav-toggler.rotate {
  transform: rotateX(30deg);
}
.nav-toggler img {
  width: 1.5rem;
}

.main-nav .nav-links {
  align-items: flex-start;
  justify-content: flex-end;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  width: 100%;
  /* position: absolute;
  top: 50px;
  left: 50px; */
}

.main-nav .nav-links .nav-icon {
  display: none;
}

.main-nav .nav-links.show {
  max-height: 100vh;
  opacity: 1;
  padding: 2rem 0;
}

.main-nav .nav-links li {
  margin-bottom: 1rem;
  white-space: nowrap;
  padding: 0.5rem 0;
}

.main-nav .nav-links a {
  color: #ccc;
  transition: 0.3s ease;
  padding-bottom: 0.2rem;
}
.main-nav .nav-links a:hover {
  color: #fff;
  /* border-bottom: 1px solid #06c; */
}

.overlay h2 {
  color: #ccc;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  white-space: nowrap;
  animation: heading 5s ease;
}

/* Section Main */
.main {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  background-color: rgb(1, 51, 100);
  background-blend-mode: overlay;
  /* background-attachment: fixed; */
  color: #fff;
  width: 100%;
  height: 100vh;
}

.main h1 {
  font-size: 2rem;
}

.main .lead {
  max-width: 700px;
  margin: 0 auto;
}
.main .container {
  height: 100%;
}
@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Section Events and Ipad */
.items h2 {
  font-size: 2rem;
}

.items h3 {
  color: #333;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.items .dark h3 {
  color: #fff;
}

.events,
.ipad,
.movies,
.apple-services {
  background: rgb(236, 236, 236);
  padding: 0.5rem 0;
  margin: 1rem 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.apple-icons {
  margin-top: 1rem;
}
.apple-icons img {
  width: 5rem;
  display: inline-block;
  margin: 1rem;
}

.items .movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/apple.movies.jpg) no-repeat center center/cover;
  background-color: rgb(40, 102, 163);
  background-blend-mode: multiply;
}

.flex-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-links a {
  color: #fff;
}

/* Footer */
.main-footer {
  background: #fff;
  color: #333;
  width: 100vw;
  overflow: hidden;
  font-size: 0.8rem;
}
.main-footer .close {
  width: 0.5rem;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.4s ease;
  display: initial;
}

.show .list-title > .close {
  transform: rotate(0);
}
.main-footer .list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  font-weight: 700;
}

.collapsible-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.show + .collapsible-content {
  max-height: 100vh;
  opacity: 1;
  padding: 1rem 0;
}

.collapsible-content li {
  margin-bottom: 1rem;
}

.collapsible-content .footer-links {
  width: 100vw;
  align-items: flex-start;
}

.main-footer .list-title a,
.collapsible-content a {
  color: #333;
}

.collapsible-content a:hover {
  border-bottom: 1px solid #333;
}

.footer-bottom .retailer {
  color: var(--link-color);
}

.footer-bottom a:nth-child(2) {
  display: inline-block;
  color: #333;
}
/* ############# */
/* MEDIA QUERIES */
/* ############## */

@media (min-width: 768px) {
  /* Nav */
  .main-header .flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main-nav .nav-links.show {
    padding: 0;
  }

  .main-nav .nav-links {
    display: flex;
    position: initial;
    opacity: 1;
  }

  .main-nav .nav-links li {
    padding: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .main-nav .nav-links a {
    padding: 1rem;
  }
  .nav-toggler {
    display: none;
  }

  #logo {
    margin-right: auto;
  }

  .main-nav .nav-links .nav-icon {
    width: 1.2rem;
    display: inline;
  }

  /* Showcase */

  .main h1 {
    font-size: 3rem;
  }

  .overlay h2 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1.5rem;
  }

  .items .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  /* Items Ipad Iwatch Section */

  .items h2 {
    font-size: 2rem;
  }

  /* Footer */
  /* .main-footer {
    overflow: visible;
  }

  .main-footer .close {
    display: none;
  }

  .main-footer .list-title {
    border-bottom: none;
  }

  .main-footer .list-title li {
    white-space: nowrap;
  }

  .main-footer .container div {
    position: relative;
    top: 1rem;
    float: left;
    width: 250px;
  }

  .main-footer .container .collapsible-content {
    max-height: 100vh;
    opacity: 1;
    overflow: visible;
  } */
}

@media (min-width: 1024px) {
  /* .main-footer .container div {
    float: left;
    width: 150px;
    margin: 0 1rem;
  } */
}
